@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(243, 244, 246);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #232323;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0 24% 0 24%;
  background-color: var(--background-color);
}

.themed-background {
  background-color: var(--background-color);
}

form {
  color: #fff;
}

form input {
  color: #000;
}

.gradient-border {
  border: none;
  background: linear-gradient(to right, #ff5edf, #04befe);
  background-size: 300% 300%;
  background-position: 0 0;
  transition: all 1s ease;
}

.gradient-border:hover {
  background-position: 100% 0;
}
